{%  extends 'base.html' %}
{% block body %}
<h2>Co dzisiaj jemy? {{ date }}</h2>
    {%  for pet in pets %}
    <a href="/pet/{{ pet.id }}">{{ pet.name }}</a>
    <ul>
        {% for dosage in dosages %}
            {% if dosage.pet.id == pet.id %}
            <li>{{ dosage.product.name }} w ilości {{ dosage.amount }}
                {{ dosage.product.unit.name }} <a href="/update_dosage/{{ dosage.id }}">ZMIEŃ</a> <a href="/delete_dosage/{{ dosage.id }}">USUŃ DAWKOWANIE</a></li>
            {% endif %}
        {%  endfor %}
    </ul>
    {% endfor %}
{% endblock %}