{%  extends 'base.html' %}
{% load static %}
{% block body %}

<div class="container">
<h2>{{ pet.name }}</h2>
    <table class="table table-bordered table-striped">
        {% for dosage in dosages %}
            <tr>
                <td><a href="/product/{{ dosage.product.id }}">{{ dosage.product.name }}</a></td>
                <td>co {{ dosage.interval }} dni</td>
                <td>w ilości {{ dosage.amount }} {{ dosage.product.unit.name }}</td>
                <td>{{ dosage.notes|default_if_none:"" }}</td>
                <td class="text-center"><a href="/update_dosage/{{ dosage.id }}">ZMIEŃ</a></td>
                <td class="text-center"><a href="/delete_dosage/{{ dosage.id }}">USUŃ</a></td>
            </tr>
        {%  endfor %}
    </table>
    {% if form %}
        <h3>Nowe dawkowanie</h3>
        <form action="" method="post">
            {% csrf_token %}
            {{ form }}
            <input type="submit" value="Wyślij">
        </form>
    {% endif %}
</div>
{% endblock %}